  <body>
    <div class="wrapper">
      <header>
        <h1>Development Guidelines</h1>
        <p>For CSS, JS, HTML, Task runners &amp; environment.</p>
        




          <ul class="site-navigation">
          {% for page in site.pages %}
              <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          </ul>
        
<!--
        <p class="view"><a href="https://github.com/Designer023/development-guidelines">View the Project on GitHub <small>Designer023/development-guidelines</small></a></p>


        <ul>
          <li><a href="https://github.com/Designer023/development-guidelines/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/Designer023/development-guidelines/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/Designer023/development-guidelines">View On <strong>GitHub</strong></a></li>
        </ul>
      -->
      </header>